/* === Basic Definitions === */
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

a {
    color: rgb(0,0,0);
    text-decoration: none;
}

a:visited {
    color: rgb(0,0,0);
}

a:hover {
    color: #2876BA;
}

h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

h3 {
    margin: 10px 0;
    color: #2876BA;
    font-size: 1rem;
    font-weight: 400;
}

h4 {
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: 300;
}

/* === Basic Definitions === -END- */

/* === GRID === */
.grid-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #f3f3f3;  
    display: grid;
    grid-template-columns: minmax(500px, 25%) repeat(3, auto) 200px;
    grid-template-rows: minmax(20vh, auto) repeat(3, auto) minmax(300px, auto) 5%;
    grid-template-areas:
        "header header header header header"
        "infoBar page page page sideBar"
        "infoBar page page page sideBar"
        "infoBar page page page sideBar"
        "footer footer footer footer footer"
        "copyright copyright copyright copyright copyright"
}

.grid-item {
    box-sizing: border-box;
}

.header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #bed5ea;
}

.page {
    grid-area: page;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: justify;
}

.infoBar {
    grid-area: infoBar;
    margin: 10px;  
    max-height: 600px;

}

.sideBar {
    grid-area: sideBar;
    margin: 10px;  
    background-color: #1c5282;
}

.footer {
    grid-area: footer;
    background-color: #666666;
}

.copyright {
    grid-area: copyright;
    background-color: #464646;
}

/* === GRID === -END- */

/* === Regular Definitions === */
/* = Header = */
.header__navBar {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background: rgb(221, 221, 221)
}

.header__navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.header__navBurgerMenu {
    display: none;
    margin: 0 15px;
}

.header__navBar a {
    margin: 0 15px;
}

/* = Page = */
.page p {
    max-width: 800px;
}

/* = InfoBar = */
.infoBar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.335);
    -moz-box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.335);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.335);
}

.infoBar__nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #2876BA;
}

.tab {
    min-width: 100px;
    margin: 0;   
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.466);
    color: white;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

.tab:hover {
    color: #2876BA;
}

.infoBar__content {
    min-height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 0 4px 4px 4px;
}

.infoBar__item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.infoBar__image {
    height: 100px;
    min-width: 130px;
    background-size: cover;
    background-position: center;
    border: 3px solid lightgrey;
    margin-right: 20px;
}

.infoBar__details > p {
    font-size: 0.8rem;
}

.infoBar__more {
    height: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: white;
    margin: 0 4px 4px 4px;
    padding-right: 10px;   
}
/* === Regular Definitions === -END- */

/* === Utility classes === */
.link-arrow {
    /* styling of arrow for links */
    color: #2876BA;
    font-size: 1.5rem;
    font-weight: 900;
}

.active {
    /* active tab in infoBar */
    background-color: white;
    color: black;
    padding: 10px;
}

.noselect {
    /* text cannot be selected */
    user-select: none;
}
/* === Utility classes === -END- */

/* === MEDIA-QUERIES === */
/* = Tablet = */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: minmax(40vh, auto) repeat(3, auto) minmax(30vh, auto) minmax(5vh, auto);
        grid-template-areas:
            "header header header header header"
            "infoBar infoBar infoBar infoBar sideBar"
            "page page page page page"
            "page page page page page"
            "footer footer footer footer footer"
            "copyright copyright copyright copyright copyright"
    }

    body {
        font-size: 24px;
    }

    .page {
        padding: 20px;
    }

    .infoBar {
        padding: 0;
        max-height: none;
    }

    .infoBar__image {
        height: 150px;
        min-width: 220px;
    }
}
/* = Mobile = */
@media screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: minmax(40vh, auto) auto minmax(40vh, auto) auto minmax(40vh, auto) minmax(5vh, auto);
        grid-template-areas:
            "header header header header header"
            "infoBar infoBar infoBar infoBar infoBar"
            "sideBar sideBar sideBar sideBar sideBar"
            "page page page page page"
            "footer footer footer footer footer"
            "copyright copyright copyright copyright copyright"
    }

    .header__navBurgerMenu {
        display: block;
    }

    .header__navMenu {
        display: none;
    }

    .page {
        padding: 20px;
    }

    .sideBar {
        margin: 10px 0;
    }

    .infoBar {
        padding: 0;
        margin: 0;
        max-height: none;
    }

    .infoBar__item {
        flex-direction: column;
    }

    .infoBar__details {
        margin: 12px 0;
        text-align: center;
    }
    .infoBar__image {
        height: 150px;
        width: 80%;
        min-width: 300px;
        margin: 0;
    }
}