/* Imports */ 
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap');

/* Basic Definitions */
* {
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    font-family: 'Merriweather Sans',sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:visited { 
    color: black;
}

a:hover {
    color: #2876BA;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
    color: #2876BA;
    font-weight: 400; /*to check for edge*/
    margin: 10px 0;
}

h4 {
    font-size: 0.9rem;
    color: black;
    font-weight: 300;    
    margin: 5px 0;
}
/* Basic Definitions -END- */

/* GRID */
.grid-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(450px, 25%) repeat(3, auto) minmax(150px, 10%);
    grid-template-rows: minmax(20vh, auto) repeat(3,minmax(30vh, auto)) minmax(300px, auto) 5%;
    grid-template-areas:
    "header header header header header"
    "newsbar page page page sidebar"
    "newsbar page page page sidebar"
    "newsbar page page page sidebar"
    "footer footer footer footer footer"
    "copyright copyright copyright copyright copyright"
}

.grid-item {
    /* border: 1px solid black; */
    width: 100%;
    box-sizing: border-box;
}

.header {
    grid-area: header;
    background-color: 	#bed5ea;
}

.page {
    grid-area: page;
    background-color: 	#f3f3f3;

}

.infobar {
    grid-area: newsbar;
    background-color: 	white;
    padding: 10px;
    max-height: 600px;
}

.sidebar {
    grid-area: sidebar;
    background-color: 	#1c5282;
}

.footer {
    grid-area: footer;
    background-color: 	#666666;
}

.copyright {
    grid-area: copyright;
    background-color: 	#464646;
}

/* GRID -END- */

/* page content */ 
.page {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
}

.infobar__container {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infobar__nav {
    height: 60px;
    width: 100%;
    background-color: #2876BA;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: border-box;
}

.tab {
    font-size: 0.9rem;
    color: white;
    text-align: center;
    min-width: 100px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.644);
    cursor: pointer;
}

.tab:hover {
    color: #2876BA;
}

.infobar__content {
    height: 100%;
    background-color: white;
    margin: 0 4px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.infobar__item {
    width: 90%;
    display: flex;
    align-items: center;
}


.infobar__image {
    min-width: 130px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: 3px solid lightgrey;
    margin-right: 20px;
}

.infobar__details > p{
    font-size: 0.8rem;
}

.infobar__more {
    height: 70px;
    background-color: white;
    margin: 0 4px 4px 4px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}


/* Utility classes*/
.link-arrow {
    font-size: 1.5rem;
    font-weight: 900;
    color: #2876BA;
}

.active {
    background-color: white;
    color: black;
    padding: 10px;
}

.noselect {
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none; 
}
/* Utility classes -END- */

/* MEDIA-QUERIES */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 25vw repeat(3, auto) 10vw;
        grid-template-rows: minmax(20vh, auto) repeat(3, auto) minmax(20vh, auto) 5%;
        grid-template-areas:
        "header header header header header"
        "newsbar newsbar page page page"
        "newsbar newsbar page page page"
        "sidebar sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer"
        "copyright copyright copyright copyright copyright"
    }
    .page {
        padding: 20px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 30% auto auto auto minmax(200px, auto) 5%;
        grid-template-areas:
        "header header header header header"
        "newsbar newsbar newsbar newsbar newsbar"
        "page page page page page"
        "sidebar sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer"
        "copyright copyright copyright copyright copyright"
    }
}